body {
    background-color: rgb(228, 222, 222);
    font-family: 'Roboto', sans-serif;
}

.stay-focus {
    border-left: 5px solid orange;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.mission-color {
    color: rgb(196, 69, 47);
    font-family: 'Merriweather';
}

.first-container {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 20px;
}

.half-width {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.half-width img {
    width: 100%;
    height: 400px;
}

.first-anchor {
    border: 1px solid;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    background-color: rgb(240, 58, 88);
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.second-container {
    margin-left: 50px;
    margin-right: 50px;
}

#second-headline {
    font-size: 30px;
    text-align: center;
}

.make-flex {
    display: flex;
}

.make-flex img {
    width: 50%;
    height: 50%;
}

.devide-width {
    width: 32%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

#mission {
    background-color: rgb(99, 207, 250);
}

#vision {
    background-color: pink;
}

#goal {
    background-color: aquamarine;
}

.third-container {
    display: flex;
}

.devide-width-thirty {
    width: 32%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.devide-width-thirty img {
    width: 100%;
}

.devide-width-sixty {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.third-container {
    margin: 100px 50px;
}

#img-resize {
    height: 200px;
    width: 100%;
    border-radius: 20px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

footer small {
    font-size: 10px;
}